/* 110% */

@media only screen and (max-width: 1919px) {
}

/* 125% */

@media only screen and (max-width: 1745px) {
}

/* 150% */

@media only screen and (max-width: 1535px) {
  .best-games-container,
  .b-g-c {
    width: 1200px;
    height: 970px;
    overflow: hidden;
    margin-left: -10px;
    margin-left: -7px;
  }
}

/* 175% */

@media only screen and (max-width: 1279px) {
  .best-games-container,
  .b-g-c {
    width: 1080px;
    height: 970px;
  }
}

/* 200% */

@media only screen and (max-width: 1097px) {
  .best-games-container,
  .b-g-c {
    width: 1080px;
    height: 3640px;
  }
  .b-g-c {
    padding-top: 90px;
  }
  .best-games-chose {
    height: 350px;
  }
}
/* 250% */

@media only screen and (max-width: 959px) {
  .b-g-c,
  .best-games-container {
    width: 900px;
    height: 3650px;
  }
  .b-g-c {
    margin-top: -250px;
    margin-bottom: -600px;
  }

  .best-games-container {
    margin-top: -350px;
  }
  .b-g-c {
    padding-top: 90px;
    transform: scale(0.87);
  }
}

/* 300% */

@media only screen and (max-width: 767px) {
  .b-g-c,
  .best-games-container {
    width: 690px;
    height: 3650px;
  }
  .b-g-c {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .best-games-container {
    margin-top: -400px;
    margin-bottom: -460px;
  }
  .best-games-chose {
    height: 200px;
  }
  .b-g-c {
    margin-top: -80px;
    padding-top: 30px;
    height: 2800px;
    transform: scale(0.93);
    justify-content: center;
  }
}
/* 400% */

@media only screen and (max-width: 639px) {
  .b-g-c,
  .best-games-container {
    width: 690px;
    height: 3650px;
  }
  .b-g-c {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .best-games-container {
    margin-top: -770px;
    margin-bottom: -800px;
  }
  .best-games-chose {
    height: 200px;
  }
  .b-g-c {
    margin-top: -120px;
    padding-top: 30px;
    height: 2100px;
    transform: scale(0.9);
  }
}

/* 500% */

@media only screen and (max-width: 479px) {
  .b-g-c,
  .best-games-container {
    width: 690px;
    height: 3650px;
  }
  .b-g-c {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .best-games-container {
    margin-top: -930px;
    margin-bottom: -1000px;
  }
  .best-games-chose {
    height: 10px;
  }
  .b-g-c {
    margin-top: -140px;
    padding-top: 30px;
    height: 1800px;
    transform: scale(0.89);
    justify-content: center;
    padding-bottom: 20px;
  }
}
