/* 110% */

@media only screen and (max-width: 1919px) {
  .f-y-container,
  .game-show-list {
    width: 100%;
    max-width: 1300px;
    height: 100%;
  }
}

/* 125% */

@media only screen and (max-width: 1745px) {
}

/* 150% */

@media only screen and (max-width: 1535px) {
}

/* 175% */

@media only screen and (max-width: 1279px) {
  .f-y-title {
    font-size: 30px;
  }
}

/* 200% */

@media only screen and (max-width: 1097px) {
  .lol {
    height: 220px;
  }
  .game-container,
  .game-containers {
    display: flex;
    flex-direction: row;
    height: 220px;
    width: 550px;
  }
  .game-show-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .img-test {
    height: 220px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .f-u-title {
    font-size: 25px;
    width: 300px;
    height: auto;
    word-wrap: break-word;
  }
  .f-u-from,
  .f-u-price {
    width: 120px;
    display: flex;
    align-items: flex-end;
  }
  .f-u-from {
    height: 50px;
    z-index: 100;
  }
  .f-u-price {
    height: 50px;
  }
  .f-u-country {
    height: 20px;
    width: 200px;
    margin-top: 0px;
  }
  .scale-c {
    height: 100%;
    width: 340px;
  }

  .scale-top {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 115px;
  }
  .scale-pos {
    position: absolute;
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
  }
  /*vison*/
  .game-container,
  .game-containers {
    transform: scale(1.5);
  }
}
/* 250% */

@media only screen and (max-width: 959px) {
  .f-y-title {
    width: 500px;
    height: 80px;
    text-align: center;
  }
  .game-show-list {
    margin-bottom: 400px;
  }
}

/* 300% */

@media only screen and (max-width: 767px) {
  .game-container,
  .game-containers {
    transform: scale(1.2);
  }
  .game-show-list {
    margin-bottom: 20px;
  }
}
/* 400% */

@media only screen and (max-width: 639px) {
  .game-container,
  .game-containers {
    transform: scale(0.9);
  }
}

/* 500% */

@media only screen and (max-width: 479px) {
  .game-container,
  .game-containers {
    transform: scale(0.74);
  }
  .f-y-title {
    width: 350px;
    height: 80px;
    text-align: center;
    font-size: 25px;
  }
}
