/* 110% */

@media only screen and (max-width: 1919px) {
}

/* 125% */

@media only screen and (max-width: 1745px) {
}
/*150%*/
@media only screen and (max-width: 1535px) {
}

/* 175% */

@media only screen and (max-width: 1279px) {
}

/* 200% */

@media only screen and (max-width: 1097px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .search-shop {
    width: 450px;
  }
  .form-h-l-p,
  .section-price,
  .price,
  .section-country {
    display: none;
  }
}
/* 250% */

@media only screen and (max-width: 959px) {
}

/* 300% */

@media only screen and (max-width: 767px) {
}
/* 400% */

@media only screen and (max-width: 639px) {
}

/* 500% */

@media only screen and (max-width: 479px) {
}
