.game-loop-page-container {
  width: 100%;
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.main-g-l {
  width: 1340px;
  display: flex;
  height: 10px;
  flex-direction: row;
}

.img-g-l-container {
  height: 500px;
  width: 1000px;
  display: flex;
}
.img-g-l-main {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
}

.img-g-l-main img {
  height: 500px;
  max-width: 95%;
  border: 1.5px solid;
  border-image: linear-gradient(
      var(--angle),
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      #dd0004,
      #dd0004,
      #dd0004,
      #dd0004,
      #dd0004,
      #dd0004
    )
    1;
  animation: 5s rotate linear infinite;
}
.game-title {
  height: 100px;
  width: 800px;
  display: flex;
  position: absolute;
  margin-left: 500px;
  margin-top: 20px;
}

.text-g-l {
  height: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.g-s-c {
  margin-top: -50px;
  display: flex;
  width: 100%;
  height: 776px;
  font-size: 40px;
  padding-left: 30px;
  padding-top: 50px;
  color: white;
  background-color: rgb(21, 22, 22);
  box-shadow: -1px 6px 52px 2px rgba(0, 0, 0, 1);
}

.description {
  padding-left: 30px;
  font-size: 20px;
  color: gray;
  font-weight: 600;
}

.textarea {
  margin-top: 0;
  padding-left: 30px;
  font-size: 25px;
  color: white;
}

.info-g-l {
  width: 1460px;
  height: 580px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.country-c,
.platform-c {
  height: 200px;
  width: 200px;
}

.c-d,
.p-d {
  font-size: 25px;
  color: gray;
  margin-bottom: 5px;
}

.c-t,
.p-t {
  font-size: 35px;
  margin-top: 0;
  padding-top: 0;
  color: rgb(0, 189, 57);
  font-weight: 600;
}

.p-t {
  color: white;
}

.buy-s {
  position: absolute;
  margin-top: 420px;
  margin-left: 960px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.price-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 150px;
  margin-bottom: -20px;
  margin-left: 22px;
}

.price-t {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.price-s {
  margin: 0;
  font-weight: 600;
}

.button-buy {
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-b {
  border: 1.5px solid black;
  color: white;
  height: 80px;
  width: 260px;
  background-color: #0073e7;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border-image: linear-gradient(var(--angle), white, black, black, black, white)
    1;
  animation: 5s rotate linear infinite;
  transition: 0.3s;
}

.b-b:hover {
  transform: scale(1.05);
  border: 1.5px solid white;
  transition: 0.3s;
}
