.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.baner-container {
  width: 1901px;
  height: 375px;
  margin-top: 160px;
  display: flex;
}

.main-img {
  height: 100%;
  width: 58%;
  background-image: url("../image/baner.png");
  background-repeat: no-repeat;
  background-size: 1150px;
  z-index: 100;
  -webkit-box-shadow: 24px 0px 27px -18px rgba(0, 0, 0, 1);
  -moz-box-shadow: 24px 0px 27px -18px rgba(0, 0, 0, 1);
  box-shadow: 24px 0px 27px -18px rgba(0, 0, 0, 1);
  cursor: pointer;
  border: 1.5px solid;
  border-image: linear-gradient(
      var(--angle),
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      white,
      white
    )
    1;
  animation: 10s rotate linear infinite;
}

.game-img {
  height: 100%;
  width: 14%;
  -webkit-box-shadow: 24px 0px 27px -18px rgba(0, 0, 0, 1);
  -moz-box-shadow: 24px 0px 27px -18px rgba(0, 0, 0, 1);
  box-shadow: 24px 0px 27px -18px rgba(0, 0, 0, 1);
  cursor: pointer;
  background-repeat: no-repeat;
  min-height: 100%;
}

.game-one {
  z-index: 90;
  background-image: url("../image/daysgone.jpg");
  background-size: 290px;
  background-position-x: -12px;
}

.game-two {
  z-index: 80;
  background-image: url("../image/horizon.png");
  background-size: 400px;
  background-position-x: -65px;
}

.game-three {
  z-index: 70;
  background-image: url("../image/spider.jpg");
  background-size: 290px;
  background-position-x: -20px;
}

.game-img:hover {
  z-index: 101;
  -webkit-box-shadow: inset 6px 5px 100px 12px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 6px 5px 100px 12px rgba(0, 0, 0, 1);
  box-shadow: inset 6px 5px 100px 12px rgba(0, 0, 0, 1);
}

/* for you */

.f-y-container {
  width: 1340px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.f-y-title {
  color: #fd1f4a;
  font-size: 40px;
  font-weight: 600;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-shadow: 4px 4px 13px rgba(0, 0, 0, 1);
}

.game-show-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

/* show game best price */

.game-container,
.game-containers {
  background-color: #1a212b;
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 250px;
  border: 1.5px solid black;
}

.random-shade {
  background-color: #1a212b;
  height: 420px;
  width: 250px;
  border: 1.5px solid;
  border-image: linear-gradient(
      var(--angle),
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      black,
      #dd0004,
      #dd0004,
      #dd0004,
      #dd0004,
      #dd0004,
      black,
      black,
      black,
      black,
      black,
      black,
      black
    )
    1;
  animation: 4s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.img-test {
  height: 68%;

  width: 100%;
  background-size: 200px;
}

.f-u-title {
  width: 90%;
  height: 40px;
  color: white;
  font-size: 18px;
  margin-top: 12px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.f-u-country {
  width: 90%;
  height: 17px;
  font-weight: 600;
  font-size: 15px;
  margin-top: 5px;
  color: rgb(0, 189, 57);
  margin-left: 10px;
  text-transform: uppercase;
}

.f-u-from {
  width: 90%;
  height: 17px;
  font-weight: 600;
  font-size: 15px;
  margin-top: 7px;
  margin-left: 10px;
  color: gray;
}

.f-u-price {
  width: 90%;
  height: 17px;
  font-weight: 600;
  font-size: 30px;
  margin-top: -5px;
  margin-left: 10px;
  color: white;
}

.dsfdsa {
  margin-top: 500px;
  height: 50px;
  width: 50px;
}

.top-g:hover {
  border-image: linear-gradient(
      var(--angle),
      #ff5e60,
      #ff5e60,
      #dd0004,
      #dd0004,
      #dd0004,
      #dd0004,
      #dd0004,
      #ff5e60,
      #ff5e60
    )
    1 !important;
  animation: 4s rotate linear infinite;
  overflow: hidden;
}

.top-g:hover img {
  transform: scale(1.03);
  transition: 0.3s;
}
