.frame {
  height: 100px;
  width: 100px;
  display: flex;
  z-index: 10000;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  position: relative;
  height: 40px;
  width: 80px;
  cursor: pointer;
  margin-left: 10px;
}

.burger-menu__animated {
  position: absolute;
  width: 80px;
  height: 8px;
  background: #fff;
  transition: all ease-in-out 0.2s;
  top: 2rem;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.before {
  top: 0rem;
}

.after {
  top: 1rem;
}
.burger:hover .burger-menu__animated:not(.before, .after) {
  width: 60px;
}

.burger:hover .after {
  width: 70px;
}
.close {
  top: 0.5rem;
}

.before-rotate {
  transform: rotate(45deg);
  transition-delay: 0.2s;
}
.rotate {
  transform: rotate(-45deg);
  transition-delay: 0.2s;
}

.transparent {
  visibility: hidden;
}

.width {
  width: 80px !important;
}

/* burger menu open */

.burger-nav {
  position: fixed;
  background-color: rgb(21, 22, 22);
  flex-direction: column;
  font-size: 30px;
  height: 100%;
  z-index: 300;
  display: none;
  width: 100%;
}

.logo-b {
  position: absolute;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 100px;
}

.nav-container {
  height: 500px;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
}
.b-shop,
.b-pc,
.b-psn {
  cursor: pointer;
  z-index: 990;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 80%;
  height: 100%;
}

.b-a {
  background-color: #1d1f20;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-top: inset 1px black;
  border-bottom: inset 1px rgba(128, 128, 128, 0.295);
}

.b-shop:hover,
.b-pc:hover,
.b-psn:hover {
  color: gray;
}

.checksize {
  display: none;
}
