.shop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 160px;
}

.shop-main-h {
  background-color: #1d1f20;
  height: 1000px; /* % */
  display: flex;
}
.shop-header-container {
  width: 1379px;
}
.shop-header-container-t {
  width: 300px;
  display: flex;
  justify-content: center;
}

.shop-header-container,
.shop-header-container-t {
  background-color: rgb(21, 22, 22);
  -webkit-box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 1);
  z-index: 110;
  display: flex;
  height: 2210px;
  overflow: hidden;
}

.shop-header-container-t {
  height: 3550px;
}
.form-h-h {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.search-shop,
.price,
.country-s {
  background-color: transparent;
  border: 2px solid #1d1f20;
  height: 40px;
  width: 200px;
  display: flex;
  margin: 15px;
  margin-top: 30px;
  -webkit-box-shadow: inset 0px 0px 28px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 28px -11px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 28px -11px rgba(0, 0, 0, 1);
  font-size: 26px;
  color: white;
}

.search-shop:hover,
.price:hover {
  -webkit-box-shadow: inset 0px 0px 100px -57px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 100px -57px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 100px -57px rgba(0, 0, 0, 1);
}

.section-price {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.betwen-price {
  margin-top: 10px;
  font-size: 30px;
  color: white;
  display: flex;
}

.price {
  height: 40px;
  width: 76px;
  display: flex;
  flex-direction: row;
}

option {
  background-color: rgb(21, 22, 22);
  height: 40px;
  width: 200px;
  font-size: 26px;
  border: 0px;
  outline: none;
}

.form-h-l,
.form-h-l-p,
.form-h-l-s {
  color: white;
  font-size: 25px;
  margin-bottom: -20px;
  margin-left: 15px;
  padding: 0;
  display: flex;
  align-items: flex-end;
  width: 80%;
  height: 40px;
}

.form-h-l-p {
  margin-left: -10px;
}

.section-country {
  margin-top: 5px;
}

.g-l-c {
  width: 1340px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  height: 450px;
  margin-left: 27px;
}

.button {
  background-color: rgb(21, 22, 22);
  margin-top: -2px;
  width: 1378px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.load-more-game-list {
  height: 70px;
  width: 250px;
  font-size: 30px;
}
