body {
  margin: 0;
  padding: 0;
  background-color: #1d1f20;
}

html {
  display: flex;
  width: 100%;
  justify-content: center;
}

#root {
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@font-face {
  font-family: FontTango;
  src: url(assets/font/TangoSans_Italic.ttf);
}

.scroll-to-top {
  z-index: 10000;
}
